*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #1f666e;
  display: flex;
  flex-flow: column nowrap;
}

.container {
  padding-top: 1em;
  max-width: 70%;
  margin: 0 auto;
}

.board {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(255,255,255,.8);
  width: 100%;
  height: 550px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}
.row:last-child {
  border-bottom: 1px solid #ccc;
}

.cell {
  text-align: center;
  border: 1px solid #ccc;
  background-color: rgba(255,255,255,.8);
}
.cell:first-child, .cell:nth-child(1n + 2) {
  border-right: none;
  border-bottom: none;
}
.cell:last-child {
  border-right: 1px solid #ccc;
}
.cell:hover {
  cursor: default;
}
.cell[data-color='default'] {
  border-color: #000;
}
.cell[data-color='random'] {
  border-color: rgb(255,255,255,.2);
}

.buttons {
  margin: 0 auto 1em auto;
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  width: 100%;
}
.buttons button {
  cursor: pointer;
  flex: 0 1 15%;
  height: 15%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .15em;
  background-color: #f8f8f8;
  padding: .5em .5em;
  box-shadow: 1px 1px 4px #000;
  color: #fff;
}
.buttons button.reset {
  background-color: #990000;
  color: #fff;
  border: 1px solid #990000;
}
.buttons button.reset:hover {
  text-shadow: 0 0 2px #fff;
  background-color: #bb0000;
}
.buttons button:active {
  border: none;
  box-shadow: 1px 1px 2px inset #000, -1px -1px 2px inset #000;
}
.buttons button.rainbow {
  border-width: 1px;
  border-color: #222;
  border-right-color: #000055;
  border-left-color: #550000;
  color: #ddd;
  background: linear-gradient(to right, #550000, #005500, #000055);
}
.buttons button.rainbow[data-rainbow] {
  color: #fff;
  text-shadow: 0 0 4px #fff;
  background: linear-gradient(to right, #bb0000, #00bb00, #0000bb);
}
.buttons button.rainbow:hover {
  color: #fff;
  background: linear-gradient(to right, #bb0000, #00bb00, #0000bb);
}