*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: #478db0ed;
	display: flex;
	flex-flow: column nowrap;
}

.container {
	width: 60%;
	margin: 0 auto;
	background-color: green;
	display: flex;
	flex-flow: row wrap;
}

.square {
	flex: 1 1 6.25%;
	text-align: center;
	line-height: 2;
	padding: 2%;
}

button {
	cursor: pointer;
}
button.reset {
	margin: 1em auto;
}